<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL PS4"
        gamePrice="R$ 129,99"
        >
    </app-card>
    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 269,99"
        >
    </app-card>
    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 179,99"
        >
    </app-card>
    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 39,99"
        >
    </app-card>
    <app-card 
    gameCover="assets/ac-cover.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 369,99"
    >
    </app-card>
    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 139,99"
        >
    </app-card>
    <app-card 
        gameCover="assets/er.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 249,99"
        >
    </app-card>
    <app-card 
        gameCover="assets/tw-3.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 349,99"
        >
    </app-card>
</div>